.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 52px;
  color: #7f9eb2;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  height: 50px;
  font-size: 26px;
  border-color: #7f9eb2 !important;
  color: #7f9eb2 !important;
}