.nav {
    flex-grow: 1;
}
.list {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 20px !important;
  font-weight: 500;
   color: #7f9eb2 !important;
}

.light .link {
  color: #7f9eb2 !important;
}

.dark .link {
  color: #ffffff !important;
}

.activeLink {
    font-size: 20px !important;
  color: #ff6b6b !important;
}
